@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: "Kumbh Sans", sans-serif;
    background-color: var(--dark-cyan);
    background-image: url("./images/bg-pattern-top.svg"),
        url("./images/bg-pattern-bottom.svg");
    background-position: -20vw -80vh, 50vw 50vh;
    background-repeat: no-repeat;
}

.prof-pic {
    grid-column: 2;
    grid-row: 2;
    border-radius: 50%;
    place-self: center;
}

.container {
    background: white;
    border-radius: 10px;
    display: grid;
    text-align: center;
    margin: 50px;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.prof-pic {
    grid-column: 2;
    grid-row: 2;
}

.personal-info {
    grid-column: 2;
    grid-row: 3;
}

.followers {
    grid-column: 1;
    grid-row: 4;
    font-size: 1rem;
}

.likes {
    grid-column: 2;
    grid-row: 4;
    font-size: 1rem;
}

.photos {
    grid-column: 3;
    grid-row: 4;
    font-size: 1rem;
}

.numbers {
    font-weight: 700;
    font-size: 2rem;
}

.attribution {
    text-align: center;
    font-size: 1rem;
    padding-top: 20px;
}
